name: Build

on:
  push:
  pull_request:
    types:
      - opened
      - edited
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '11' # The JDK version to make available on the path.
        java-package: jdk # (jre, jdk, or jdk+fx) - defaults to jdk
        architecture: x64 # (x64 or x86) - defaults to x64

    - name: Build
      run: |
        # grr... testcontainers.reuse.enable=true needs to be in home dir
        cp ./dot.testcontainers.properties ~/.testcontainers.properties
        export MAVEN_REPO_USERNAME=${GITHUB_REPOSITORY%%/*}
        export MAVEN_REPO_PASSWORD="${{ secrets.GITHUB_TOKEN }}"
        ./gradlew build
        docker build ./main -t service-template -f ./main/Dockerfile

    - name: Publish image
      run: |
        echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u cer --password-stdin
        docker tag service-template ghcr.io/$GITHUB_REPOSITORY
        docker push ghcr.io/$GITHUB_REPOSITORY

    - name: Save test results
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: test-reports
        path: |
          ./build/reports
          **/build/reports/tests/
          **/build/test-results

    - name: get container logs
      run: ./.github/workflows/print-container-logs.sh
      if: ${{ always() }}

    - name: Save container logs
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
        name: container-logs
        path: ~/container-logs
